*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins', sans-serif;
    background:#fff8f0;
    color:#333;
}

/* NAVBAR */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 60px;

    background:#8B0000;

    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    color:white;
    font-size:30px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-weight:500;
    transition:0.3s;
}

.nav-links a:hover{
    color:#ffd700;
}

/* MENU */

.menu{
    padding:50px 20px;
}

.category{
    margin-bottom:70px;
}

.category h2{
    text-align:center;
    color:#8B0000;
    font-size:38px;
    margin-bottom:35px;
}

/* GRID */

.menu-grid{
    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));

    gap:30px;
}

/* CARD */

.item{
    background:white;

    border-radius:18px;

    overflow:hidden;

    box-shadow:0 6px 18px rgba(0,0,0,0.12);

    transition:0.3s;
}

.item:hover{
    transform:translateY(-10px);
}

.item img{
    width:100%;
    height:230px;
    object-fit:cover;
}

.item-content{
    padding:22px;
}

.item h3{
    color:#8B0000;
    margin-bottom:10px;
    font-size:24px;
}

.item p{
    line-height:1.6;
}

.price{
    color:#228B22;
    font-size:22px;
    font-weight:bold;
    margin-top:12px;
}

.delivery{
    margin-top:10px;
    font-weight:bold;
    color:green;
}

/* BUTTON */

.btn{
    display:inline-block;

    margin-top:15px;

    background:#228B22;
    color:white;

    padding:12px 25px;

    border-radius:30px;

    text-decoration:none;

    transition:0.3s;
}

.btn:hover{
    background:#2fa12f;
    transform:scale(1.05);
}

/* FOOTER */

footer{
    background:#111;
    color:white;

    text-align:center;

    padding:35px;

    margin-top:50px;
}

/* MOBILE */

@media(max-width:768px){

    .navbar{
        flex-direction:column;
    }

    .nav-links{
        margin-top:15px;
    }

    .category h2{
        font-size:30px;
    }

}